# =========================
# Arquivos de Sistema (OS)
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Java / Spring Boot / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
help.md

# =========================
# IDEs (Configurações Locais)
# =========================
.vscode/
.idea/
*.iml
*.iws
*.classpath
*.project
*.settings/

# =========================
# Frontend (Caso adicione depois)
# =========================
# node_modules/
# dist/
# build/
# .npm/

# =========================
# Segurança e Credenciais
# =========================
# .env
# .env.*
# application-dev.properties
# application-secret.properties